ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

p {
    font-family: 'Montserrat', Medium;
    color: white;
}

li {
    display: inline-block;
}

li a {
    font-family: 'Montserrat', Medium;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.PictureOne{
    float:right;
}

p{
    margin: 1% 0% 1% 1%;
}

.PictureTwo{
    float: left;
}

.SektionKlasse{
    display: block;
}

#new_line{
    height: -webkit-fill-available;
    clear: both;
    background-color: #1F374A;
}

.new_line1{
    height: -webkit-fill-available;
    clear: both;
    background-color: rgb(34, 49, 61);
}

.new_line2{
    height: -webkit-fill-available;
    clear: both;
    background-color: rgb(44, 62, 75);
}

.PictureThree{
    float: right;
}

#maincontent{
    margin-top: -5px;
}