ul {
    list-style-type: none;
    text-align: center;
    
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


footer{
    
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200;
    margin-right:-200;
    margin-top:-200;
    margin-bottom:-200;
    width:400px;
    height:100px;
}
a:link { color: rgb(255, 255, 255); }




*{
margin-left: 0;
margin-right: 0;
margin-bottom:0;
margin-top:0;

}




